language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
cache: pip
install:
  - pip install .[test]
before_script:
  - flake8 .
script:
  - python setup.py test
branches:
  only:
    - master
    - develop
